body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.banner {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.banner-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.banner-button {
  display: block;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.banner-button:hover,
.banner-button:focus {
  background-color: #404bbf;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.subtitle {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.excellence-list {
  display: flex;
  gap: 24px;
}

.excellence-item {
  width: calc((100% - 72px) / 4);
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.team-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-logo {
  margin-right: 0;
  margin-bottom: 16px;
  padding: 0;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
